<h2>Order Details</h2>
<p>Pizza ID: <%= @order.pizza_id %></p>
<p>Crust ID: <%= @order.crust_id %></p>
<p>total price: <%= @order.total_price %></p>

<p>Extra Cheese: <%= @order.extra_cheese ? "Yes" : "No" %></p>
